<!-- <div id="main" class="col-12">
  <div id="inner" class="col-12">
      <div id="profileDiv">
          <div id="profileImage">
          
          </div>
          <div id="nameDiv"><p>Name Appears Here</p></div>
      <div id="profileInfo"> -->
<!-- <form id="profileData" [formGroup]="profileData">
    <mat-form-field>
        <input matInput type="text" [(ngModel)]="profile.firstName" formControlName="firstName" placeholder="First Name">
    </mat-form-field>
    <mat-form-field>
        <input matInput type="text" [(ngModel)]="profile.lastName" formControlName="lastName" placeholder="Last Name">
    </mat-form-field>
</form> -->
<mat-divider></mat-divider>

<h1 >{{profile.firstName}}'s Feed</h1>
<button mat-raised-button (click)=createPost() formControlName="createPost">Create Post</button>
<div *ngFor="let post of profile.posts">
    <app-post [post]="post"></app-post>
</div>