<!-- debugged by: Ryan Rottmann-->
<!-- written by: John Oatey-->

<form id="createAccountForm" [formGroup]="createAccount" (ngSubmit)="onSubmit()">
    <mat-form-field>
      <input matInput formControlName="username" placeholder="Username" type="text">
    </mat-form-field>
    <br>
    <mat-form-field>
      <input matInput formControlName="email" placeholder="Email" type="text">
    </mat-form-field>
    <br>
    <mat-form-field>
      <input matInput formControlName="password" placeholder="Password" type="password">
    </mat-form-field>
    <br>
    <mat-form-field>
      <input matInput formControlName="passwordCheck" placeholder="Confirm Password" type="password">
    </mat-form-field>
		<br>
		<button mat-raised-button type="submit">Create Account</button>
    <br>
    <span>{{ isValid ? ' ' : 'Passwords do not match' }}</span>
		<br>
		<button mat-raised-button routerLink="/reset-password">Forgot Password</button>
		<br>
	</form>
