* {
    box-sizing: border-box;
}

#navigationList {
    list-style-type: none;
    margin-top: 0px;
    margin-bottom: 0px;
    padding: 10px;
    background-color: #00A8E8;
    width: 100%;

}
.navItem{
    box-sizing: border-box;
    display: inline-block;
    width: 15%;
    text-align: center;
    
    border: 1px solid white;
    font-size: 2em;   
}
a{
    color: white;
    text-decoration: none;
}
h1{
    margin-top: 0;
    margin-bottom: 0;
    background-color: #003459;
    font-size: 3em;
    padding-left: 5px;
    padding-bottom: 2px;
    color: white;
}
h2{
    display: inline;
    padding: 5px;
}
#main{
    height: 800px;
    background-color: #007EA7;
    float: left;
}
#newsFeed{
    background-color: #FFE66D;
    height: 650px;
    float: left;
}
#searchText{
    margin-left: 15px;
    display: inline;
    font-size: 1.5em;
}
#searchBarDiv{
    margin-top: 15px;
    margin-bottom: 15px;
}
#profileDiv{
    background-color: #FFE66D;
    height: 700px;
    padding-top: 100px;
    border-radius: 15px;
}
#profileImage{
    background-color: aliceblue;
    height: 250px;
    width: 250px;
    margin: 0 auto;
    border-radius: 50px;
}
.searchBar{
    font-size: 1.1em;
}
#nameDiv{
       text-align: center;
    font-size: 1.5em;
}
#profileInfo{
    text-align: center;
    background-color: #003459;
    height: 200px;
    color: white;
}
#logoDiv{
    height: 275px;
    width: 275px;
    background-color: gray;
    margin: 0 auto;
    text-align: center;
    margin-bottom: 20px;
}
#logIn{
    width: 250px;
    height: 250px;
    background-color: white;
    margin: 0 auto;
    border-radius: 25px;
    padding-top: 20px;
}
#slogan{
    width: 250px;
    text-align: center;
    margin: 0 auto;
}
button{
    width: 130px;
    
}
#logInForm{
    text-align: center;
}
#map{
    background-color: green;
    height: 700px;
}
#friends{
    height 75px;
    background-color: #FFE66D;
}
.friendsProfiles{
    margin: 20px;
    width: 200px;
    height: 200px;
    background-color: gray;
    border-radius: 25px;
    display: inline-block;
}
#messageList{
    
}
.message{
    height: 70px;
    background-color: white;
    width: 100%;
    font-size: 1.5em;
}
/* For mobile phones: */
[class*="col-"] {
    width: 100%;
}


@media only screen and (min-width: 600px) {
    /* For tablets: */
    .col-s-1 {width: 8.33%;}
    .col-s-2 {width: 16.66%;}
    .col-s-3 {width: 25%;}
    .col-s-4 {width: 33.33%;}
    .col-s-5 {width: 41.66%;}
    .col-s-6 {width: 50%;}
    .col-s-7 {width: 58.33%;}
    .col-s-8 {width: 66.66%;}
    .col-s-9 {width: 75%;}
    .col-s-10 {width: 83.33%;}
    .col-s-11 {width: 91.66%;}
    .col-s-12 {width: 100%;}
}

@media only screen and (min-width: 768px) {
    /* For desktop: */
    .col-1 {width: 8.33%;}
    .col-2 {width: 16.66%;}
    .col-3 {width: 25%;}
    .col-4 {width: 33.33%;}
    .col-5 {width: 41.66%;}
    .col-6 {width: 50%;}
    .col-7 {width: 58.33%;}
    .col-8 {width: 66.66%;}
    .col-9 {width: 75%;}
    .col-10 {width: 83.33%;}
    .col-11 {width: 91.66%;}
    .col-12 {width: 100%;}
}    