<!-- written by: Song Vu Nguyen -->

<form [formGroup]="resetPassword" (ngSubmit)="onSubmit()">
    <mat-form-field>
      <input matInput formControlName="username" placeholder="Username" type="text">
    </mat-form-field>
    <br>
    <mat-form-field>
      <input matInput formControlName="oldPassword" placeholder="Current Password" type="password">
    </mat-form-field>
    <br>
    <mat-form-field>
      <input matInput formControlName="password" placeholder="New Password" type="password">
    </mat-form-field>
    <br>
    <mat-form-field>
      <input matInput formControlName="passwordCheck" placeholder="Confirm New Password" type="password">
    </mat-form-field>
    <br>
    <button mat-raised-button type="submit">Submit</button>
    <br>
    <span>{{ isValid ? ' ' : 'Passwords do not match' }}</span>	
    <br>
    <button mat-raised-button routerLink="/login">Back to Login</button>
    <br>
	</form>
