<!--The content below is only a placeholder and can be replaced.-->
<div id="wrapper" class="col-12"><!-- Wrapper Div-->
    <div id="navigation" class="col-12">
        <h1><a routerLink="">Proximity</a></h1>
        <ul id="navigationList">
            <a routerLink="feed"><li class="navItem">Feed</li></a>
            <a routerLink="map"><li class="navItem">Map</li></a>
            <a routerLink="messaging"><li class="navItem">Messages</li></a>
            <a routerLink="profile"><li class="navItem">Profile</li></a>
            <!--<a routerLink="">{{logoutDisplay}}</a>-->
        </ul>
    </div><!-- End of navigation -->
   <!-- <mat-sidenav-container>
   <mat-sidenav>SideNav</mat-sidenav>
   <mat-sidenav-content>
        <a routerLink="feed"><li class="navItem">Feed</li></a>
        <a routerLink="map"><li class="navItem">Map</li></a>
        <a routerLink="messaging"><li class="navItem">Messages</li></a>
        <a routerLink="profile"><li class="navItem">Profile</li></a>
   </mat-sidenav-content>
   </mat-sidenav-container> -->
	
    <router-outlet></router-outlet>
    
    
</div><!-- End of wrapper Div-->